* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 50px 40px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.form-box h1 {
    font-size: 32px;
    color: #2e7d32;
    margin-bottom: 10px;
}

.form-box .underline {
    width: 40px;
    height: 4px;
    background: #2e7d32;
    margin: 10px auto 40px auto;
    border-radius: 5px;
}

.input-group {
    position: relative;
    margin-bottom: 40px; 
}


.input-field {
    background: #f1f3f4;
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.input-field i {
    color: #444;
    font-size: 16px;
    margin-left: 12px;  
}

.input-field input {
    flex: 1;
    font-size: 15px;
    padding: 12px 15px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #333;
}

form p {
    text-align: left;
    font-size: 13px;
    color: #555;
    margin-top: -10px;
}

form p a {
    color: #2e7d32;
    text-decoration: none;
    font-weight: 500;
}

form p a:hover {
    text-decoration: underline;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button {
    width: 100%;
    background: #2e7d32;
    color: white;
    height: 45px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-field button:hover {
    background: #4c774f;
}

button:disabled {
    background: #5d9161;
    cursor: not-allowed;
}
button:disabled:hover {
    background: #5d9161;
    cursor: not-allowed;
}


.error-msg {
    position: absolute;
    bottom: -20px;
    left: 15px;
    color: red;
    font-size: 12px;
    font-weight: 500;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

.error-msg.active {
    opacity: 1;
}
